:root {
  --section_width_standard: 45vw;
  --section_width_broad: 58vw;
}

@media only screen and (max-width: 1300px) {
  :root {
    --section_width_standard: 80vw;
    --section_width_broad: 90vw;
  }
  .page_menu {
    position: relative;
    margin: auto;
  }
}
@media only screen and (min-width: 2200px) {
  :root {
    --section_width_standard: 35vw;
    --section_width_broad: 90vw;
  }
}

body {
  padding: 0 0 100px 0;
  margin: 0;
}
main {

}
h1 {
  font-family: 'Roboto light', sans-serif;
  width: var(--section_width_standard);
  padding: 40px 0;
  margin: auto;
}
h2 {
  font-family: 'Roboto light', sans-serif;
  font-size: 30px;
  margin: 20px auto 40px auto;
  width: var(--section_width_standard);
}
h3 {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 0px;
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
  margin: 90px auto 20px auto;
  width: var(--section_width_standard);
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 30px auto 8px auto;
  width: var(--section_width_standard);
}

p {
  font-family: 'Roboto light', sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  margin: 8px auto 8px auto;
  width: var(--section_width_standard);
}
a {
  font-style: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
li {
  font-family: 'Roboto light', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  padding: 8px;
}
ul {
  margin: 8px auto 8px auto;
  width: var(--section_width_standard);
}
ol {
  margin: 8px auto 8px auto;
  width: var(--section_width_standard);
}

header {
  padding: 40px;
  margin: 0 0 40px 0;
  background-color: #011d49;
  color: white;
}

header img {
  height: 55px;
  margin-bottom: -16;
  margin-right: 10px;
}

.full_page_img {
  display: block;
  margin: 70px auto 70px auto;
}
.page_menu {
  position: absolute;
  margin: 0 0 0 20px;
  width: 220px;
  border-left: 3px solid #011d49;
  padding-left: 20px;
  list-style-type: none;
}
.page_menu li{
  margin: 5 0;
  line-height: 1.2;
}
.page_menu li:hover {
  background-color: #011d49;
  color: white;
}
.page_menu .current_page{
  font-family: 'Roboto', sans-serif;
  list-style-type: disc;
}
.gallery_list {
  margin: 30px auto 60px auto;
  width: 58vw;
  text-align: center;
}
.gallery_list a {
  display: inline-block;
  margin: 8px 8px 8px 8px;
  width: 250px;
  height: 100px;
  border: 1px solid #011d49;
  text-align: center;
  vertical-align: middle;
}
.gallery_list a:hover {
  background-color: #011d49;
  color: white;
}

.gallery_list li {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  line-height: 1.3;
  font-size: 16px;
}
.gallery_list li:hover {
  background-color: #011d49;
  color: white;
}


/* collapsible CSS */
.collapsible{
  display: block;
  width: 99%;
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  cursor: pointer;
  border-top: 2px solid #011d49;
}

.active, .collapsible:hover {
  background-color: #011d49;
  color: white;
}

.content {
  padding: 0 0;
  margin-left: -20px;
  margin-bottom: 40px;
  width: 100%;
  display: none;
  overflow: hidden;
}

.steps_list {
  list-style: none;
  counter-reset: item;
  margin-top: 30px;

}
.steps_list li {
  counter-increment: item;
  margin-bottom: 5px;
}
.steps_list li:before {
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  margin-left: -25px;
  content: counter(item);
  background: #011d49;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}
