body {
  padding: 0;
  margin: 0;
}
main {

}
h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Roboto light', sans-serif;
  font-size: 30px;
  margin: 20px auto 40px auto;
  width: 48vw;
}
h3 {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  padding: 0px;
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

p {
  font-family: 'Roboto light', sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}
a {
  font-style: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
li {
  font-family: 'Roboto light', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
section {
  margin: 30px auto 60px auto;
  width: 48vw;

}

header {
  padding: 40px;
  margin: 0 0 40px 0;
  background-color: #011d49;
  color: white;
}

header h1 {
  margin-left: 18vw;
}
header img {
  height: 55px;
  margin-bottom: -16;
  margin-right: 4px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: #011d49;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 0;
  display: none;
  overflow: hidden;
  background-color: #FFFFFF;
}



.full_page_img {
  display: block;
  margin: 0px auto 70px auto;
}
.page_menu {
  position: fixed;
  margin: 0 0 0 20px;
  border-left: 3px solid #011d49;
  padding-left: 20px;
  list-style-type: none;
}
.page_menu li{
  margin: 25px 0 25px 0;
  line-height: 1.2;
}
.page_menu .current_page{
  font-family: 'Roboto', sans-serif;
  color: #011d49;
  list-style-type: disc;
}
